
.lang__link {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  transition: opacity .3s ease;
}

.lang__link:first-child {
  margin-right: 18px;
}

.lang__link:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .lang__link {
    font-size: 18px;
    line-height: 20px;
  }
}