
.places__link {
  margin-top: 12px;
  text-decoration: underline;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .3s ease;
}

.places__link:hover {
  opacity: .8;
}