
.overview {
  max-width: 984px;
  margin: 58px auto 0;
}

@media screen and (max-width: 1024px) {
  .overview {
    margin: 50px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .overview {
    margin: 50px 0 0;
  }
}

