
.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 89px auto 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 89px;
  }
}

@media screen and (max-width: 520px) {
  .cover {
    min-height: 200px;
    margin-top: 64px;
  }
}